<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>

<body>
  <div class="container" ng-controller="NarrowItDownController as menu">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    
      <div class="form-group" style="align-items: center;">
        <input type="text" placeholder="search term" ng-model="menu.searchTerm" class="form-control">
        <button class="btn btn-primary" ng-click="menu.search()">Narrow It Down For Me!</button>
      </div>
      <div>
        <h3>Found</h3>
        <p ng-if="menu.empty">Nothing Found</p>
        <!-- found-items directive here -->
        <found-items found-item="menu.found" on-remove="menu.removeItems(ind)" not-found="menu.notFound">
        </found-items>
      </div>
    
  </div>

  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
