
<div class="container">
  <h2>My Info</h2>
  
  <div ng-if="!infoCtrl.info" style="margin-bottom:50px;">Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></div>

    <div ng-if="infoCtrl.info">
      First Name: {{infoCtrl.info.firstName}}<br>
      Last Name: {{infoCtrl.info.lastName}}<br>
      Email: {{infoCtrl.info.email}}<br>
      Phone Number: {{infoCtrl.info.phone}}<br>
      Favorite: {{infoCtrl.info.firstName}}<br>
    
      <div>
        <h2>Favorite</h2>
        <p>{{infoCtrl.info.favorite}}</p>
      </div>
    
  </div>
</div>